@import './Themes/colors.css';

body {
    background-color: var(--black);
    color: var(--white);
}

/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
display: none; /* Safari and Chrome */
}

/* Hide scrollbar for Firefox */
html {
scrollbar-width: none; /* Firefox */
}
